.top-bar{
    background-image: url("back.jpg");
    background-color: #cccccc;
}

.top-bar-top-row{
    padding-left: 40px;
    padding-top: 100px;
    padding-bottom: 20px;
}

.top-bar-bottom-row{
    text-align: right;
    padding-bottom: 20px;
}

.top-bar-bottom-row-column{
    text-align: center;
}

h1{
    font-size: calc(1.8rem + 1.8vw);
}

.centered-subtitle{
    text-align: center;
    margin-top:20px;
}

.date-row{
    text-align: center;
    margin-bottom:10px;
}

.date-col{
    margin-top:20px;
}

.nav-tabs{
    border: 2px;
}

.h2{
    font-size: calc(1.8rem + 1.8vw);
}

.tab-title{
    text-align: left;
    margin:20px;
}

.title-row{
    margin:20px;
}

.dropdown-tab-title{
    padding-top:5px;
    text-align: right;
}

.centered-table{
    text-align: center;
    height: 400px;
    overflow: scroll;
}

.revenue-column{
    text-align: center;
    margin: 15px;
}

.revenue-icon{
    height: 64px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 10px;
    filter: invert(1);
}

.top-card{
    margin-bottom: 10px;
    width: 200px;
    height: 175px;
    padding-top: 10px;
}

.bottom-card{
    width: auto;
}

.card-header{
    background-color: #eb6864;
}

.centered-subtitle{
    text-align: center;
}

.drop-down-col{
    text-align: left;
    margin-left: 15px;
}

.drop-down{
    margin-bottom:10px;
}

p{
    margin-bottom:0px;
}
